In [1]:
import pandas as pd
import env 
import numpy as np 
import matplotlib as plt
import seaborn as sns 
from pydataset import data
import acquire as a

In [2]:
df = data('iris')

In [3]:
print(df.head(3))
print(df.shape)
print(df.columns)
print(df.dtypes)
print(df.describe())

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
(150, 5)
Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')
Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object
       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:


# sheet_url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vS6Aj1UToL1-RmcUCbHdo9Jyi8FCzs3PEkbIzZtmT_RdVUiBn5EVBqmoQmFkm5g168egcUwWASyACCf/pub?output=csv'    

# #csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

# df_googlesheet = pd.read_csv(sheet_url)

# '''
# print the first 3 rows
# print the number of rows and columns
# print the column names
# print the data type of each column
# print the summary statistics for each of the numeric variables
# print the unique values for each of your categorical variables

# '''



# pd.DataFrame(df_googlesheet.head(),
# df_googlesheet.shape,
# df_googlesheet.columns,
# df_googlesheet.dtypes,
# df_googlesheet.describe()
# #for col in df_googlesheet.columns:
# '''
# return (df_googlesheet[col].unique())

# '''

SyntaxError: invalid syntax (386122714.py, line 25)

In [10]:
import pandas as pd

sheet_url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vS6Aj1UToL1-RmcUCbHdo9Jyi8FCzs3PEkbIzZtmT_RdVUiBn5EVBqmoQmFkm5g168egcUwWASyACCf/pub?output=csv'
df_googlesheet = pd.read_csv(sheet_url)

# Print the first 3 rows
print("First 3 rows:")
print(df_googlesheet.head(3))

# Print the number of rows and columns
print("Number of rows and columns:")
print(df_googlesheet.shape)

# Print the column names
print("Column names:")
print(df_googlesheet.columns)

# Print the data type of each column
print("Data types:")
print(df_googlesheet.dtypes)

# Print the summary statistics for each of the numeric variables
print("Summary statistics for numeric variables:")
print(df_googlesheet.describe())

# Print the unique values for each of your categorical variables
print("Unique values for categorical variables:")
for col in df_googlesheet.select_dtypes(include=['object']).columns:
    print(f"Column: {col}")
    print(df_googlesheet[col].unique())

First 3 rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
Number of rows and columns:
(891, 12)
Column names:
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Data types:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
Summary statistics for numeric variables:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
Unique values for categorical variables:
Column: Name
['Braund, Mr. Owen Harris'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'Heikkinen, Miss. Laina' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Allen, Mr. William Henry' 'Moran, Mr. James' 'McCarthy, Mr. Timothy J'
 'Palsson, Master. Gosta Leonard'
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'
 'Nasser, Mrs. Nicholas (Adele Achem)' 'Sandstrom, Miss. Marguerite Rut'
 'Bonnell, Miss. Elizabeth' 'Saundercock, Mr. William Henry'
 'Andersson, Mr. Anders Johan' 'Vestrom, Miss. Hulda Amanda Adolfina'
 'Hewlett, Mrs. (Mary D Kingcome) ' 'Rice, Master. Eugene'
 'Williams, Mr. Charles Eugene'
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)'
 'Masselmani, Mrs. Fatima' 'Fynney, Mr. Joseph J' 'Beesley, Mr. Lawrence'
 'McGowan, Miss. Anna "Annie"' 'Sloper, Mr. William Thompson'
 'Palsson, Miss. Torborg Danira'
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)'
 'Emir, Mr. Farred Chehab' 'Fortune, Mr. Charles Alexander'
 'O\'Dwyer, Miss. Ellen "Nellie"' 'Todoroff, Mr. Lalio'
 'Uruchurtu, Don. Manuel E'
 'Spencer, Mrs. William Augustus (Marie Eugenie)'
 'Glynn, Miss. Mary Agatha' 'Wheadon, Mr. Edward H'
 'Meyer, Mr. Edgar Joseph' 'Holverson, Mr. Alexander Oskar'
 'Mamee, Mr. Hanna' 'Cann, Mr. Ernest Charles'
 'Vander Planke, Miss. Augusta Maria' 'Nicola-Yarred, Miss. Jamila'
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)'
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)'
 'Kraeff, Mr. Theodor' 'Laroche, Miss. Simonne Marie Anne Andree'
 'Devaney, Miss. Margaret Delia' 'Rogers, Mr. William John'
 'Lennon, Mr. Denis' "O'Driscoll, Miss. Bridget" 'Samaan, Mr. Youssef'
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)'
 'Panula, Master. Juha Niilo' 'Nosworthy, Mr. Richard Cater'
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)'
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)'
 'Ostby, Mr. Engelhart Cornelius' 'Woolner, Mr. Hugh' 'Rugg, Miss. Emily'
 'Novel, Mr. Mansouer' 'West, Miss. Constance Mirium'
 'Goodwin, Master. William Frederick' 'Sirayanian, Mr. Orsen'
 'Icard, Miss. Amelie' 'Harris, Mr. Henry Birkhardt'
 'Skoog, Master. Harald' 'Stewart, Mr. Albert A'
 'Moubarek, Master. Gerios' 'Nye, Mrs. (Elizabeth Ramell)'
 'Crease, Mr. Ernest James' 'Andersson, Miss. Erna Alexandra'
 'Kink, Mr. Vincenz' 'Jenkin, Mr. Stephen Curnow'
 'Goodwin, Miss. Lillian Amy' 'Hood, Mr. Ambrose Jr'
 'Chronopoulos, Mr. Apostolos' 'Bing, Mr. Lee' 'Moen, Mr. Sigurd Hansen'
 'Staneff, Mr. Ivan' 'Moutal, Mr. Rahamin Haim'
 'Caldwell, Master. Alden Gates' 'Dowdell, Miss. Elizabeth'
 'Waelens, Mr. Achille' 'Sheerlinck, Mr. Jan Baptist'
 'McDermott, Miss. Brigdet Delia' 'Carrau, Mr. Francisco M'
 'Ilett, Miss. Bertha'
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)'
 'Ford, Mr. William Neal' 'Slocovski, Mr. Selman Francis'
 'Fortune, Miss. Mabel Helen' 'Celotti, Mr. Francesco'
 'Christmann, Mr. Emil' 'Andreasson, Mr. Paul Edvin'
 'Chaffee, Mr. Herbert Fuller' 'Dean, Mr. Bertram Frank'
 'Coxon, Mr. Daniel' 'Shorney, Mr. Charles Joseph'
 'Goldschmidt, Mr. George B' 'Greenfield, Mr. William Bertram'
 'Doling, Mrs. John T (Ada Julia Bone)' 'Kantor, Mr. Sinai'
 'Petranec, Miss. Matilda' 'Petroff, Mr. Pastcho ("Pentcho")'
 'White, Mr. Richard Frasar' 'Johansson, Mr. Gustaf Joel'
 'Gustafsson, Mr. Anders Vilhelm' 'Mionoff, Mr. Stoytcho'
 'Salkjelsvik, Miss. Anna Kristine' 'Moss, Mr. Albert Johan'
 'Rekic, Mr. Tido' 'Moran, Miss. Bertha' 'Porter, Mr. Walter Chamberlain'
 'Zabour, Miss. Hileni' 'Barton, Mr. David John' 'Jussila, Miss. Katriina'
 'Attalah, Miss. Malake' 'Pekoniemi, Mr. Edvard' 'Connors, Mr. Patrick'
 'Turpin, Mr. William John Robert' 'Baxter, Mr. Quigg Edmond'
 'Andersson, Miss. Ellis Anna Maria' 'Hickman, Mr. Stanley George'
 'Moore, Mr. Leonard Charles' 'Nasser, Mr. Nicholas' 'Webber, Miss. Susan'
 'White, Mr. Percival Wayland' 'Nicola-Yarred, Master. Elias'
 'McMahon, Mr. Martin' 'Madsen, Mr. Fridtjof Arne' 'Peter, Miss. Anna'
 'Ekstrom, Mr. Johan' 'Drazenoic, Mr. Jozef'
 'Coelho, Mr. Domingos Fernandeo'
 'Robins, Mrs. Alexander A (Grace Charity Laury)'
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)'
 'Sobey, Mr. Samuel James Hayden' 'Richard, Mr. Emile'
 'Newsom, Miss. Helen Monypeny' 'Futrelle, Mr. Jacques Heath'
 'Osen, Mr. Olaf Elon' 'Giglio, Mr. Victor'
 'Boulos, Mrs. Joseph (Sultana)' 'Nysten, Miss. Anna Sofia'
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)'
 'Burke, Mr. Jeremiah' 'Andrew, Mr. Edgardo Samuel'
 'Nicholls, Mr. Joseph Charles'
 'Andersson, Mr. August Edvard ("Wennerstrom")'
 'Ford, Miss. Robina Maggie "Ruby"'
 'Navratil, Mr. Michel ("Louis M Hoffman")'
 'Byles, Rev. Thomas Roussel Davids' 'Bateman, Rev. Robert James'
 'Pears, Mrs. Thomas (Edith Wearne)' 'Meo, Mr. Alfonzo'
 'van Billiard, Mr. Austin Blyler' 'Olsen, Mr. Ole Martin'
 'Williams, Mr. Charles Duane' 'Gilnagh, Miss. Katherine "Katie"'
 'Corn, Mr. Harry' 'Smiljanic, Mr. Mile' 'Sage, Master. Thomas Henry'
 'Cribb, Mr. John Hatfield'
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)'
 'Bengtsson, Mr. John Viktor' 'Calic, Mr. Jovo'
 'Panula, Master. Eino Viljami'
 'Goldsmith, Master. Frank John William "Frankie"'
 'Chibnall, Mrs. (Edith Martha Bowerman)'
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)' 'Baumann, Mr. John D'
 'Ling, Mr. Lee' 'Van der hoef, Mr. Wyckoff' 'Rice, Master. Arthur'
 'Johnson, Miss. Eleanor Ileen' 'Sivola, Mr. Antti Wilhelm'
 'Smith, Mr. James Clinch' 'Klasen, Mr. Klas Albin'
 'Lefebre, Master. Henry Forbes' 'Isham, Miss. Ann Elizabeth'
 'Hale, Mr. Reginald' 'Leonard, Mr. Lionel' 'Sage, Miss. Constance Gladys'
 'Pernot, Mr. Rene' 'Asplund, Master. Clarence Gustaf Hugo'
 'Becker, Master. Richard F' 'Kink-Heilmann, Miss. Luise Gretchen'
 'Rood, Mr. Hugh Roscoe'
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)'
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")' 'Bourke, Mr. John'
 'Turcin, Mr. Stjepan' 'Pinsky, Mrs. (Rosa)' 'Carbines, Mr. William'
 'Andersen-Jensen, Miss. Carla Christine Nielsine'
 'Navratil, Master. Michel M' 'Brown, Mrs. James Joseph (Margaret Tobin)'
 'Lurette, Miss. Elise' 'Mernagh, Mr. Robert'
 'Olsen, Mr. Karl Siegwart Andreas' 'Madigan, Miss. Margaret "Maggie"'
 'Yrois, Miss. Henriette ("Mrs Harbeck")' 'Vande Walle, Mr. Nestor Cyriel'
 'Sage, Mr. Frederick' 'Johanson, Mr. Jakob Alfred' 'Youseff, Mr. Gerious'
 'Cohen, Mr. Gurshon "Gus"' 'Strom, Miss. Telma Matilda'
 'Backstrom, Mr. Karl Alfred' 'Albimona, Mr. Nassef Cassem'
 'Carr, Miss. Helen "Ellen"' 'Blank, Mr. Henry' 'Ali, Mr. Ahmed'
 'Cameron, Miss. Clear Annie' 'Perkin, Mr. John Henry'
 'Givard, Mr. Hans Kristensen' 'Kiernan, Mr. Philip'
 'Newell, Miss. Madeleine' 'Honkanen, Miss. Eliina'
 'Jacobsohn, Mr. Sidney Samuel' 'Bazzani, Miss. Albina'
 'Harris, Mr. Walter' 'Sunderland, Mr. Victor Francis'
 'Bracken, Mr. James H' 'Green, Mr. George Henry' 'Nenkoff, Mr. Christo'
 'Hoyt, Mr. Frederick Maxfield' 'Berglund, Mr. Karl Ivar Sven'
 'Mellors, Mr. William John' 'Lovell, Mr. John Hall ("Henry")'
 'Fahlstrom, Mr. Arne Jonas' 'Lefebre, Miss. Mathilde'
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)' 'Larsson, Mr. Bengt Edvin'
 'Sjostedt, Mr. Ernst Adolf' 'Asplund, Miss. Lillian Gertrud'
 'Leyson, Mr. Robert William Norman' 'Harknett, Miss. Alice Phoebe'
 'Hold, Mr. Stephen' 'Collyer, Miss. Marjorie "Lottie"'
 'Pengelly, Mr. Frederick William' 'Hunt, Mr. George Henry'
 'Zabour, Miss. Thamine' 'Murphy, Miss. Katherine "Kate"'
 'Coleridge, Mr. Reginald Charles' 'Maenpaa, Mr. Matti Alexanteri'
 'Attalah, Mr. Sleiman' 'Minahan, Dr. William Edward'
 'Lindahl, Miss. Agda Thorilda Viktoria' 'Hamalainen, Mrs. William (Anna)'
 'Beckwith, Mr. Richard Leonard' 'Carter, Rev. Ernest Courtenay'
 'Reed, Mr. James George' 'Strom, Mrs. Wilhelm (Elna Matilda Persson)'
 'Stead, Mr. William Thomas' 'Lobb, Mr. William Arthur'
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)'
 'Touma, Mrs. Darwis (Hanne Youssef Razi)'
 'Thorne, Mrs. Gertrude Maybelle' 'Cherry, Miss. Gladys'
 'Ward, Miss. Anna' 'Parrish, Mrs. (Lutie Davis)' 'Smith, Mr. Thomas'
 'Asplund, Master. Edvin Rojj Felix' 'Taussig, Mr. Emil'
 'Harrison, Mr. William' 'Henry, Miss. Delia' 'Reeves, Mr. David'
 'Panula, Mr. Ernesti Arvid' 'Persson, Mr. Ernst Ulrik'
 'Graham, Mrs. William Thompson (Edith Junkins)' 'Bissette, Miss. Amelia'
 'Cairns, Mr. Alexander' 'Tornquist, Mr. William Henry'
 'Mellinger, Mrs. (Elizabeth Anne Maidment)' 'Natsch, Mr. Charles H'
 'Healy, Miss. Hanora "Nora"' 'Andrews, Miss. Kornelia Theodosia'
 'Lindblom, Miss. Augusta Charlotta' 'Parkes, Mr. Francis "Frank"'
 'Rice, Master. Eric' 'Abbott, Mrs. Stanton (Rosa Hunt)'
 'Duane, Mr. Frank' 'Olsson, Mr. Nils Johan Goransson'
 'de Pelsmaeker, Mr. Alfons' 'Dorking, Mr. Edward Arthur'
 'Smith, Mr. Richard William' 'Stankovic, Mr. Ivan'
 'de Mulder, Mr. Theodore' 'Naidenoff, Mr. Penko' 'Hosono, Mr. Masabumi'
 'Connolly, Miss. Kate' 'Barber, Miss. Ellen "Nellie"'
 'Bishop, Mrs. Dickinson H (Helen Walton)' 'Levy, Mr. Rene Jacques'
 'Haas, Miss. Aloisia' 'Mineff, Mr. Ivan' 'Lewy, Mr. Ervin G'
 'Hanna, Mr. Mansour' 'Allison, Miss. Helen Loraine'
 'Saalfeld, Mr. Adolphe' 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)'
 'Kelly, Miss. Anna Katherine "Annie Kate"' 'McCoy, Mr. Bernard'
 'Johnson, Mr. William Cahoone Jr' 'Keane, Miss. Nora A'
 'Williams, Mr. Howard Hugh "Harry"' 'Allison, Master. Hudson Trevor'
 'Fleming, Miss. Margaret'
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'
 'Abelson, Mr. Samuel' 'Francatelli, Miss. Laura Mabel'
 'Hays, Miss. Margaret Bechstein' 'Ryerson, Miss. Emily Borie'
 'Lahtinen, Mrs. William (Anna Sylfven)' 'Hendekovic, Mr. Ignjac'
 'Hart, Mr. Benjamin' 'Nilsson, Miss. Helmina Josefina'
 'Kantor, Mrs. Sinai (Miriam Sternin)' 'Moraweck, Dr. Ernest'
 'Wick, Miss. Mary Natalie'
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)'
 'Dennis, Mr. Samuel' 'Danoff, Mr. Yoto' 'Slayter, Miss. Hilda Mary'
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)'
 'Sage, Mr. George John Jr' 'Young, Miss. Marie Grice'
 'Nysveen, Mr. Johan Hansen' 'Ball, Mrs. (Ada E Hall)'
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)'
 'Hippach, Miss. Jean Gertrude' 'McCoy, Miss. Agnes' 'Partner, Mr. Austen'
 'Graham, Mr. George Edward' 'Vander Planke, Mr. Leo Edmondus'
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)' 'Denkoff, Mr. Mitto'
 'Pears, Mr. Thomas Clinton' 'Burns, Miss. Elizabeth Margaret'
 'Dahl, Mr. Karl Edwart' 'Blackwell, Mr. Stephen Weart'
 'Navratil, Master. Edmond Roger' 'Fortune, Miss. Alice Elizabeth'
 'Collander, Mr. Erik Gustaf' 'Sedgwick, Mr. Charles Frederick Waddington'
 'Fox, Mr. Stanley Hubert' 'Brown, Miss. Amelia "Mildred"'
 'Smith, Miss. Marion Elsie' 'Davison, Mrs. Thomas Henry (Mary E Finck)'
 'Coutts, Master. William Loch "William"' 'Dimic, Mr. Jovan'
 'Odahl, Mr. Nils Martin' 'Williams-Lambert, Mr. Fletcher Fellows'
 'Elias, Mr. Tannous' 'Arnold-Franchi, Mr. Josef' 'Yousif, Mr. Wazli'
 'Vanden Steen, Mr. Leo Peter' 'Bowerman, Miss. Elsie Edith'
 'Funk, Miss. Annie Clemmer' 'McGovern, Miss. Mary'
 'Mockler, Miss. Helen Mary "Ellie"' 'Skoog, Mr. Wilhelm'
 'del Carlo, Mr. Sebastiano' 'Barbara, Mrs. (Catherine David)'
 'Asim, Mr. Adola' "O'Brien, Mr. Thomas" 'Adahl, Mr. Mauritz Nils Martin'
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)'
 'Moussa, Mrs. (Mantoura Boulos)' 'Jermyn, Miss. Annie'
 'Aubart, Mme. Leontine Pauline' 'Harder, Mr. George Achilles'
 'Wiklund, Mr. Jakob Alfred' 'Beavan, Mr. William Thomas'
 'Ringhini, Mr. Sante' 'Palsson, Miss. Stina Viola'
 'Meyer, Mrs. Edgar Joseph (Leila Saks)' 'Landergren, Miss. Aurora Adelia'
 'Widener, Mr. Harry Elkins' 'Betros, Mr. Tannous'
 'Gustafsson, Mr. Karl Gideon' 'Bidois, Miss. Rosalie'
 'Nakid, Miss. Maria ("Mary")' 'Tikkanen, Mr. Juho'
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)'
 'Plotcharsky, Mr. Vasil' 'Davies, Mr. Charles Henry'
 'Goodwin, Master. Sidney Leonard' 'Buss, Miss. Kate'
 'Sadlier, Mr. Matthew' 'Lehmann, Miss. Bertha'
 'Carter, Mr. William Ernest' 'Jansson, Mr. Carl Olof'
 'Gustafsson, Mr. Johan Birger' 'Newell, Miss. Marjorie'
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)'
 'Johansson, Mr. Erik' 'Olsson, Miss. Elina' 'McKane, Mr. Peter David'
 'Pain, Dr. Alfred' 'Trout, Mrs. William H (Jessie L)'
 'Niskanen, Mr. Juha' 'Adams, Mr. John' 'Jussila, Miss. Mari Aina'
 'Hakkarainen, Mr. Pekka Pietari' 'Oreskovic, Miss. Marija'
 'Gale, Mr. Shadrach' 'Widegren, Mr. Carl/Charles Peter'
 'Richards, Master. William Rowe' 'Birkeland, Mr. Hans Martin Monsen'
 'Lefebre, Miss. Ida' 'Sdycoff, Mr. Todor' 'Hart, Mr. Henry'
 'Minahan, Miss. Daisy E' 'Cunningham, Mr. Alfred Fleming'
 'Sundman, Mr. Johan Julian' 'Meek, Mrs. Thomas (Annie Louise Rowley)'
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)'
 'Silven, Miss. Lyyli Karoliina' 'Matthews, Mr. William John'
 'Van Impe, Miss. Catharina' 'Gheorgheff, Mr. Stanio'
 'Charters, Mr. David' 'Zimmerman, Mr. Leo'
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)'
 'Rosblom, Mr. Viktor Richard' 'Wiseman, Mr. Phillippe'
 'Clarke, Mrs. Charles V (Ada Maria Winfield)'
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")'
 'Flynn, Mr. James' 'Pickard, Mr. Berk (Berk Trembisky)'
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan'
 'Thorneycroft, Mrs. Percival (Florence Kate White)'
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)'
 'Kallio, Mr. Nikolai Erland' 'Silvey, Mr. William Baird'
 'Carter, Miss. Lucile Polk' 'Ford, Miss. Doolina Margaret "Daisy"'
 'Richards, Mrs. Sidney (Emily Hocking)' 'Fortune, Mr. Mark'
 'Kvillner, Mr. Johan Henrik Johannesson'
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)' 'Hampe, Mr. Leon'
 'Petterson, Mr. Johan Emil' 'Reynaldo, Ms. Encarnacion'
 'Johannesen-Bratthammer, Mr. Bernt' 'Dodge, Master. Washington'
 'Mellinger, Miss. Madeleine Violet' 'Seward, Mr. Frederic Kimber'
 'Baclini, Miss. Marie Catherine' 'Peuchen, Major. Arthur Godfrey'
 'West, Mr. Edwy Arthur' 'Hagland, Mr. Ingvald Olai Olsen'
 'Foreman, Mr. Benjamin Laventall' 'Goldenberg, Mr. Samuel L'
 'Peduzzi, Mr. Joseph' 'Jalsevac, Mr. Ivan' 'Millet, Mr. Francis Davis'
 'Kenyon, Mrs. Frederick R (Marion)' 'Toomey, Miss. Ellen'
 "O'Connor, Mr. Maurice" 'Anderson, Mr. Harry' 'Morley, Mr. William'
 'Gee, Mr. Arthur H' 'Milling, Mr. Jacob Christian' 'Maisner, Mr. Simon'
 'Goncalves, Mr. Manuel Estanslas' 'Campbell, Mr. William'
 'Smart, Mr. John Montgomery' 'Scanlan, Mr. James'
 'Baclini, Miss. Helene Barbara' 'Keefe, Mr. Arthur' 'Cacic, Mr. Luka'
 'West, Mrs. Edwy Arthur (Ada Mary Worth)'
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)'
 'Strandberg, Miss. Ida Sofia' 'Clifford, Mr. George Quincy'
 'Renouf, Mr. Peter Henry' 'Braund, Mr. Lewis Richard'
 'Karlsson, Mr. Nils August' 'Hirvonen, Miss. Hildur E'
 'Goodwin, Master. Harold Victor' 'Frost, Mr. Anthony Wood "Archie"'
 'Rouse, Mr. Richard Henry' 'Turkula, Mrs. (Hedwig)'
 'Bishop, Mr. Dickinson H' 'Lefebre, Miss. Jeannie'
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)'
 'Kent, Mr. Edward Austin' 'Somerton, Mr. Francis William'
 'Coutts, Master. Eden Leslie "Neville"'
 'Hagland, Mr. Konrad Mathias Reiersen' 'Windelov, Mr. Einar'
 'Molson, Mr. Harry Markland' 'Artagaveytia, Mr. Ramon'
 'Stanley, Mr. Edward Roland' 'Yousseff, Mr. Gerious'
 'Eustis, Miss. Elizabeth Mussey' 'Shellard, Mr. Frederick William'
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)' 'Svensson, Mr. Olof'
 'Calic, Mr. Petar' 'Canavan, Miss. Mary' "O'Sullivan, Miss. Bridget Mary"
 'Laitinen, Miss. Kristina Sofia' 'Maioni, Miss. Roberta'
 'Penasco y Castellana, Mr. Victor de Satode'
 'Quick, Mrs. Frederick Charles (Jane Richards)'
 'Bradley, Mr. George ("George Arthur Brayton")'
 'Olsen, Mr. Henry Margido' 'Lang, Mr. Fang' 'Daly, Mr. Eugene Patrick'
 'Webber, Mr. James' 'McGough, Mr. James Robert'
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)' 'Coleff, Mr. Satio'
 'Walker, Mr. William Anderson' 'Lemore, Mrs. (Amelia Milley)'
 'Ryan, Mr. Patrick'
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)'
 'Pavlovic, Mr. Stefo' 'Perreault, Miss. Anne' 'Vovk, Mr. Janko'
 'Lahoud, Mr. Sarkis' 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)'
 'Kassem, Mr. Fared' 'Farrell, Mr. James' 'Ridsdale, Miss. Lucy'
 'Farthing, Mr. John' 'Salonen, Mr. Johan Werner'
 'Hocking, Mr. Richard George' 'Quick, Miss. Phyllis May'
 'Toufik, Mr. Nakli' 'Elias, Mr. Joseph Jr'
 'Peter, Mrs. Catherine (Catherine Rizk)' 'Cacic, Miss. Marija'
 'Hart, Miss. Eva Miriam' 'Butt, Major. Archibald Willingham'
 'LeRoy, Miss. Bertha' 'Risien, Mr. Samuel Beard'
 'Frolicher, Miss. Hedwig Margaritha' 'Crosby, Miss. Harriet R'
 'Andersson, Miss. Ingeborg Constanzia'
 'Andersson, Miss. Sigrid Elisabeth' 'Beane, Mr. Edward'
 'Douglas, Mr. Walter Donald' 'Nicholson, Mr. Arthur Ernest'
 'Beane, Mrs. Edward (Ethel Clarke)' 'Padro y Manent, Mr. Julian'
 'Goldsmith, Mr. Frank John' 'Davies, Master. John Morgan Jr'
 'Thayer, Mr. John Borland Jr' 'Sharp, Mr. Percival James R'
 "O'Brien, Mr. Timothy" 'Leeni, Mr. Fahim ("Philip Zenni")'
 'Ohman, Miss. Velin' 'Wright, Mr. George'
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")'
 'Robbins, Mr. Victor' 'Taussig, Mrs. Emil (Tillie Mandelbaum)'
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)' 'Morrow, Mr. Thomas Rowan'
 'Sivic, Mr. Husein' 'Norman, Mr. Robert Douglas' 'Simmons, Mr. John'
 'Meanwell, Miss. (Marion Ogden)' 'Davies, Mr. Alfred J'
 'Stoytcheff, Mr. Ilia' 'Palsson, Mrs. Nils (Alma Cornelia Berglund)'
 'Doharr, Mr. Tannous' 'Jonsson, Mr. Carl' 'Harris, Mr. George'
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)'
 'Flynn, Mr. John Irwin ("Irving")' 'Kelly, Miss. Mary'
 'Rush, Mr. Alfred George John' 'Patchett, Mr. George'
 'Garside, Miss. Ethel' 'Silvey, Mrs. William Baird (Alice Munger)'
 'Caram, Mrs. Joseph (Maria Elias)' 'Jussila, Mr. Eiriik'
 'Christy, Miss. Julie Rachel'
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)'

# NEW EXERCISE QUESTIONS

## The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

### This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.


#### **Using the Iris Data:**

#### - Use the function defined in acquire.py to load the iris data.

#### - Drop the species_id and measurement_id columns.

#### - Rename the species_name column to just species.
#### - Rename the species_name column to just species
#### - Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).
#### - Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

> Use the function defined in acquire.py to load the iris data.

In [11]:
df = a.get_iris_data()

In [12]:
df = df.drop(columns= df[['species_id', 'measurement_id']])

In [13]:
df = df.rename(columns={'species_name': 'species'})

In [14]:
pd.get_dummies(df['species'])

     setosa  versicolor  virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
5         1           0          0
6         1           0          0
7         1           0          0
8         1           0          0
9         1           0          0
10        1           0          0
11        1           0          0
12        1           0          0
13        1           0          0
14        1           0          0
15        1           0          0
16        1           0          0
17        1           0          0
18        1           0          0
19        1           0          0
20        1           0          0
21        1           0          0
22        1           0          0
23        1           0          0
24        1           0          0
25        1           0          0
26        1           0          0
27        1           0          0
28        1           0          0
29        1           0          0
30        1           0          0
31        1           0          0
32        1           0          0
33        1           0          0
34        1           0          0
35        1           0          0
36        1           0          0
37        1           0          0
38        1           0          0
39        1           0          0
40        1           0          0
41        1           0          0
42        1           0          0
43        1           0          0
44        1           0          0
45        1           0          0
46        1           0          0
47        1           0          0
48        1           0          0
49        1           0          0
50        0           1          0
51        0           1          0
52        0           1          0
53        0           1          0
54        0           1          0
55        0           1          0
56        0           1          0
57        0           1          0
58        0           1          0
59        0           1          0
60        0           1          0
61        0           1          0
62        0           1          0
63        0           1          0
64        0           1          0
65        0           1          0
66        0           1          0
67        0           1          0
68        0           1          0
69        0           1          0
70        0           1          0
71        0           1          0
72        0           1          0
73        0           1          0
74        0           1          0
75        0           1          0
76        0           1          0
77        0           1          0
78        0           1          0
79        0           1          0
80        0           1          0
81        0           1          0
82        0           1          0
83        0           1          0
84        0           1          0
85        0           1          0
86        0           1          0
87        0           1          0
88        0           1          0
89        0           1          0
90        0           1          0
91        0           1          0
92        0           1          0
93        0           1          0
94        0           1          0
95        0           1          0
96        0           1          0
97        0           1          0
98        0           1          0
99        0           1          0
100       0           0          1
101       0           0          1
102       0           0          1
103       0           0          1
104       0           0          1
105       0           0          1
106       0           0          1
107       0           0          1
108       0           0          1
109       0           0          1
110       0           0          1
111       0           0          1
112       0           0          1
113       0           0          1
114       0           0          1
115       0           0          1
116       0           0          1
117       0           0          1
118       0           0          1
119       0           0          1
120       0           0          1
121       0           0          1
122       0           0          1
123       0           0          1
124       0           0          1
125       0           0          1
126       0           0          1
127       0           0          1
128       0           0          1
129       0           0          1
130       0           0          1
131       0           0          1
132       0           0          1
133       0           0          1
134       0           0          1
135       0           0          1
136       0           0          1
137       0           0          1
138       0           0          1
139       0           0          1
140       0           0          1
141       0           0          1
142       0           0          1
143       0           0          1
144       0           0          1
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

In [15]:
new_df =[df, pd.get_dummies(df['species'])]
new_df

[     Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  \
 0             0           5.1          3.5           1.4          0.2
 1             1           4.9          3.0           1.4          0.2
 2             2           4.7          3.2           1.3          0.2
 3             3           4.6          3.1           1.5          0.2
 4             4           5.0          3.6           1.4          0.2
 5             5           5.4          3.9           1.7          0.4
 6             6           4.6          3.4           1.4          0.3
 7             7           5.0          3.4           1.5          0.2
 8             8           4.4          2.9           1.4          0.2
 9             9           4.9          3.1           1.5          0.1
 10           10           5.4          3.7           1.5          0.2
 11           11           4.8          3.4           1.6          0.2
 12           12           4.8          3.0           1.4          0.1
 13           13           4.3          3.0           1.1          0.1
 14           14           5.8          4.0           1.2          0.2
 15           15           5.7          4.4           1.5          0.4
 16           16           5.4          3.9           1.3          0.4
 17           17           5.1          3.5           1.4          0.3
 18           18           5.7          3.8           1.7          0.3
 19           19           5.1          3.8           1.5          0.3
 20           20           5.4          3.4           1.7          0.2
 21           21           5.1          3.7           1.5          0.4
 22           22           4.6          3.6           1.0          0.2
 23           23           5.1          3.3           1.7          0.5
 24           24           4.8          3.4           1.9          0.2
 25           25           5.0          3.0           1.6          0.2
 26           26           5.0          3.4           1.6          0.4
 27           27           5.2          3.5           1.5          0.2
 28           28           5.2          3.4           1.4          0.2
 29           29           4.7          3.2           1.6          0.2
 30           30           4.8          3.1           1.6          0.2
 31           31           5.4          3.4           1.5          0.4
 32           32           5.2          4.1           1.5          0.1
 33           33           5.5          4.2           1.4          0.2
 34           34           4.9          3.1           1.5          0.2
 35           35           5.0          3.2           1.2          0.2
 36           36           5.5          3.5           1.3          0.2
 37           37           4.9          3.6           1.4          0.1
 38           38           4.4          3.0           1.3          0.2
 39           39           5.1          3.4           1.5          0.2
 40           40           5.0          3.5           1.3          0.3
 41           41           4.5          2.3           1.3          0.3
 42           42           4.4          3.2           1.3          0.2
 43           43           5.0          3.5           1.6          0.6
 44           44           5.1          3.8           1.9          0.4
 45           45           4.8          3.0           1.4          0.3
 46           46           5.1          3.8           1.6          0.2
 47           47           4.6          3.2           1.4          0.2
 48           48           5.3          3.7           1.5          0.2
 49           49           5.0          3.3           1.4          0.2
 50           50           7.0          3.2           4.7          1.4
 51           51           6.4          3.2           4.5          1.5
 52           52           6.9          3.1           4.9          1.5
 53           53           5.5          2.3           4.0          1.3
 54           54           6.5          2.8           4.6          1.5
 55           55           5.7          2.8           4.5          1.3
 56           56           6.3          3.3           4.7          1.6
 57           57           4.9          2.4           3.3          1.0
 58           58           6.6          2.9           4.6          1.3
 59           59           5.2          2.7           3.9          1.4
 60           60           5.0          2.0           3.5          1.0
 61           61           5.9          3.0           4.2          1.5
 62           62           6.0          2.2           4.0          1.0
 63           63           6.1          2.9           4.7          1.4
 64           64           5.6          2.9           3.6          1.3
 65           65           6.7          3.1           4.4          1.4
 66           66           5.6          3.0           4.5          1.5
 67           67           5.8          2.7           4.1          1.0
 68           68           6.2          2.2           4.5          1.5
 69           69           5.6          2.5           3.9          1.1
 70           70           5.9          3.2           4.8          1.8
 71           71           6.1          2.8           4.0          1.3
 72           72           6.3          2.5           4.9          1.5
 73           73           6.1          2.8           4.7          1.2
 74           74           6.4          2.9           4.3          1.3
 75           75           6.6          3.0           4.4          1.4
 76           76           6.8          2.8           4.8          1.4
 77           77           6.7          3.0           5.0          1.7
 78           78           6.0          2.9           4.5          1.5
 79           79           5.7          2.6           3.5          1.0
 80           80           5.5          2.4           3.8          1.1
 81           81           5.5          2.4           3.7          1.0
 82           82           5.8          2.7           3.9          1.2
 83           83           6.0          2.7           5.1          1.6
 84           84           5.4          3.0           4.5          1.5
 85           85           6.0          3.4           4.5          1.6
 86           86           6.7          3.1           4.7          1.5
 87           87           6.3          2.3           4.4          1.3
 88           88           5.6          3.0           4.1          1.3
 89           89           5.5          2.5           4.0          1.3
 90           90           5.5          2.6           4.4          1.2
 91           91           6.1          3.0           4.6          1.4
 92           92           5.8          2.6           4.0          1.2
 93           93           5.0          2.3           3.3          1.0
 94           94           5.6          2.7           4.2          1.3
 95           95           5.7          3.0           4.2          1.2
 96           96           5.7          2.9           4.2          1.3
 97           97           6.2          2.9           4.3          1.3
 98           98           5.1          2.5           3.0          1.1
 99           99           5.7          2.8           4.1          1.3
 100         100           6.3          3.3           6.0          2.5
 101         101           5.8          2.7           5.1          1.9
 102         102           7.1          3.0           5.9          2.1
 103         103           6.3          2.9           5.6          1.8
 104         104           6.5          3.0           5.8          2.2
 105         105           7.6          3.0           6.6          2.1
 106         106           4.9          2.5           4.5          1.7
 107         107           7.3          2.9           6.3          1.8
 108         108           6.7          2.5           5.8          1.8
 109         109           7.2          3.6           6.1          2.5
 110         110           6.5          3.2           5.1          2.0
 111         111           6.4          2.7           5.3          1.9
 112         112           6.8          3.0           5.5          2.1
 113         113           5.7          2.5           5.0          2.0
 114         114           5.8          2.8           5.1          2.4
 115         115           6.4          3.2           5.3          2.3
 116         116           6.5          3.0           5.5          1.8
 117         117           7.7          3.8           6.7          2.2
 118         118           7.7          2.6           6.9          2.3
 119         119           6.0          2.2           5.0          1.5
 120         120           6.9          3.2           5.7          2.3
 121         121           5.6          2.8           4.9          2.0
 122         122           7.7          2.8           6.7          2.0
 123         123           6.3          2.7           4.9          1.8
 124         124           6.7          3.3           5.7          2.1
 125         125           7.2          3.2           6.0          1.8
 126         126           6.2          2.8           4.8          1.8
 127         127           6.1          3.0           4.9          1.8
 128         128           6.4          2.8           5.6          2.1
 129         129           7.2          3.0           5.8          1.6
 130         130           7.4          2.8           6.1          1.9
 131         131           7.9          3.8           6.4          2.0
 132         132           6.4          2.8           5.6          2.2
 133         133           6.3          2.8           5.1          1.5
 134         134           6.1          2.6           5.6          1.4
 135         135           7.7          3.0           6.1          2.3
 136         136           6.3          3.4           5.6          2.4
 137         137           6.4          3.1           5.5          1.8
 138         138           6.0          3.0           4.8          1.8
 139         139           6.9          3.1           5.4          2.1
 140         140           6.7          3.1           5.6          2.4
 141         141           6.9          3.1           5.1          2.3
 142         142           5.8          2.7           5.1          1.9
 143         143           6.8          3.2           5.9          2.3
 144         144           6.7          3.3           5.7          2.5
 145         145           6.7          3.0           5.2          2.3
 146         146           6.3          2.5           5.0          1.9
 147         147           6.5          3.0           5.2          2.0
 148         148           6.2          3.4           5.4          2.3
 149         149           5.9          3.0           5.1          1.8

         species
 0        setosa
 1        setosa
 2        setosa
 3        setosa
 4        setosa
 5        setosa
 6        setosa
 7        setosa
 8        setosa
 9        setosa
 10       setosa
 11       setosa
 12       setosa
 13       setosa
 14       setosa
 15       setosa
 16       setosa
 17       setosa
 18       setosa
 19       setosa
 20       setosa
 21       setosa
 22       setosa
 23       setosa
 24       setosa
 25       setosa
 26       setosa
 27       setosa
 28       setosa
 29       setosa
 30       setosa
 31       setosa
 32       setosa
 33       setosa
 34       setosa
 35       setosa
 36       setosa
 37       setosa
 38       setosa
 39       setosa
 40       setosa
 41       setosa
 42       setosa
 43       setosa
 44       setosa
 45       setosa
 46       setosa
 47       setosa
 48       setosa
 49       setosa
 50   versicolor
 51   versicolor
 52   versicolor
 53   versicolor
 54   versicolor
 55   versicolor
 56   versicolor
 57   versicolor
 58   versicolor
 59   versicolor
 60   versicolor
 61   versicolor
 62   versicolor
 63   versicolor
 64   versicolor
 65   versicolor
 66   versicolor
 67   versicolor
 68   versicolor
 69   versicolor
 70   versicolor
 71   versicolor
 72   versicolor
 73   versicolor
 74   versicolor
 75   versicolor
 76   versicolor
 77   versicolor
 78   versicolor
 79   versicolor
 80   versicolor
 81   versicolor
 82   versicolor
 83   versicolor
 84   versicolor
 85   versicolor
 86   versicolor
 87   versicolor
 88   versicolor
 89   versicolor
 90   versicolor
 91   versicolor
 92   versicolor
 93   versicolor
 94   versicolor
 95   versicolor
 96   versicolor
 97   versicolor
 98   versicolor
 99   versicolor
 100   virginica
 101   virginica
 102   virginica
 103   virginica
 104   virginica
 105   virginica
 106   virginica
 107   virginica
 108   virginica
 109   virginica
 110   virginica
 111   virginica
 112   virginica
 113   virginica
 114   virginica
 115   virginica
 116   virginica
 117   virginica
 118   virginica
 119   virginica
 120   virginica
 121   virginica
 122   virginica
 123   virginica
 124   virginica
 125   virginica
 126   virginica
 127   virginica
 128   virginica
 129   virginica
 130   virginica
 131   virginica
 132   virginica
 133   virginica
 134   virginica
 135   virginica
 136   virginica
 137   virginica
 138   virginica
 139   virginica
 140   virginica
 141   virginica
 142   virginica
 143   virginica
 144   virginica
 145   virginica
 146   virginica
 147   virginica
 148   virginica
 149   virginica  ,
      setosa  versicolor  virginica
 0         1           0          0
 1         1           0          0
 2         1           0          0
 3         1           0          0
 4         1           0          0
 5         1           0          0
 6         1           0          0
 7         1           0          0
 8         1           0          0
 9         1           0          0
 10        1           0          0
 11        1           0          0
 12        1           0          0
 13        1           0          0
 14        1           0          0
 15        1           0          0
 16        1           0          0
 17        1           0          0
 18        1           0          0
 19        1           0          0
 20        1           0          0
 21        1           0          0
 22        1           0          0
 23        1           0          0
 24        1           0          0
 25        1           0          0
 26        1           0          0
 27        1           0          0
 28        1           0          0
 29        1           0          0
 30        1           0          0
 31        1           0          0
 32        1           0          0
 33        1           0          0
 34        1           0          0
 35        1           0          0
 36        1           0          0
 37        1           0          0
 38        1           0          0
 39        1           0          0
 40        1           0          0
 41        1           0          0
 42        1           0          0
 43        1           0          0
 44        1           0          0
 45        1           0          0
 46        1           0          0
 47        1           0          0
 48        1           0          0
 49        1           0          0
 50        0           1          0
 51        0           1          0
 52        0           1          0
 53        0           1          0
 54        0           1          0
 55        0           1          0
 56        0           1          0
 57        0           1          0
 58        0           1          0
 59        0           1          0
 60        0           1          0
 61        0           1          0
 62        0           1          0
 63        0           1          0
 64        0           1          0
 65        0           1          0
 66        0           1          0
 67        0           1          0
 68        0           1          0
 69        0           1          0
 70        0           1          0
 71        0           1          0
 72        0           1          0
 73        0           1          0
 74        0           1          0
 75        0           1          0
 76        0           1          0
 77        0           1          0
 78        0           1          0
 79        0           1          0
 80        0           1          0
 81        0           1          0
 82        0           1          0
 83        0           1          0
 84        0           1          0
 85        0           1          0
 86        0           1          0
 87        0           1          0
 88        0           1          0
 89        0           1          0
 90        0           1          0
 91        0           1          0
 92        0           1          0
 93        0           1          0
 94        0           1          0
 95        0           1          0
 96        0           1          0
 97        0           1          0
 98        0           1          0
 99        0           1          0
 100       0           0          1
 101       0           0          1
 102       0           0          1
 103       0           0          1
 104       0           0          1
 105       0           0          1
 106       0           0          1
 107       0           0          1
 108       0           0          1
 109       0           0          1
 110       0           0          1
 111       0           0          1
 112       0           0          1
 113       0           0          1
 114       0           0          1
 115       0           0          1
 116       0           0          1
 117       0           0          1
 118       0           0          1
 119       0           0          1
 120       0           0          1
 121       0           0          1
 122       0           0          1
 123       0           0          1
 124       0           0          1
 125       0           0          1
 126       0           0          1
 127       0           0          1
 128       0           0          1
 129       0           0          1
 130       0           0          1
 131       0           0          1
 132       0           0          1
 133       0           0          1
 134       0           0          1
 135       0           0          1
 136       0           0          1
 137       0           0          1
 138       0           0          1
 139       0           0          1
 140       0           0          1
 141       0           0          1
 142       0           0          1
 143       0           0          1
 144       0           0          1
 145       0           0          1
 146       0           0          1
 147       0           0          1
 148       0           0          1
 149       0           0          1]

In [16]:
df = pd.concat(new_df)

In [17]:
df = df.replace(np.nan,0)

In [18]:
df

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species,setosa,versicolor,virginica
0,0.0,5.1,3.5,1.4,0.2,setosa,0.0,0.0,0.0
1,1.0,4.9,3.0,1.4,0.2,setosa,0.0,0.0,0.0
2,2.0,4.7,3.2,1.3,0.2,setosa,0.0,0.0,0.0
3,3.0,4.6,3.1,1.5,0.2,setosa,0.0,0.0,0.0
4,4.0,5.0,3.6,1.4,0.2,setosa,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
145,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1.0
146,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1.0
147,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1.0
148,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1.0
149,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1.0

## **Using the Titanic dataset**
- **Use the function defined in acquire.py to load the Titanic data.**
    - Drop any unnecessary, unhelpful, or duplicated columns.
    - Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

### **Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.**

In [19]:
t_db = a.get_titanic_data()

In [21]:
t_db.columns

Index(['Unnamed: 0', 'passenger_id', 'survived', 'pclass', 'sex', 'age',
       'sibsp', 'parch', 'fare', 'embarked', 'class', 'deck', 'embark_town',
       'alone'],
      dtype='object')

In [26]:
t_db = t_db.drop(columns= ['Unnamed: 0','passenger_id'])

In [27]:
t_db

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [29]:
# using boolean masking -> which info is gone from which column?
t_db.isna().sum()[t_db.isna().sum() > 0]

age            177
embarked         2
deck           688
embark_town      2
dtype: int64

In [31]:
# using boolean masking -> which info is gone from which column?
t_db.isna().sum()[t_db.isna().sum() > 0] / len(df)

age            0.590000
embarked       0.006667
deck           2.293333
embark_town    0.006667
dtype: float64

In [ ]:
# conclusions from this process:
# deck looks useless, way too many missing values
# age has almost 20% missing, we may or may not want to drop this one
# it could be valuable, but for the sake of MVP we may drop it.
# I would want to investigate more through analysis to see if these values are meaningful
# embark and embark_town still seem to be the same

In [33]:
# let's see if embark_town truly is the same as embark
(t_db['embarked'].dropna() == t_db['embark_town'].dropna().apply(
    lambda x: x[0])).mean()

1.0

In [35]:
# we can fill the null values in embark_town with the most common
# value (southhampton) b y using a fillna()
# we can reassign df['embark_town'] to this, or use an inplace=True
# NOTE!!! inplace=True changes the function to RETURN A NONETYPE
t_db.embark_town.fillna('Southampton',inplace=True)

In [ ]:
t_db = t_db.drop(columns='embarked')

In [39]:
t_db.head()

,survived,pclass,sex,age,sibsp,parch,fare,class,deck,embark_town,alone
0,0,3,male,22.0,1,0,7.2500,Third,NaN,Southampton,0
1,1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,0
2,1,3,female,26.0,0,0,7.9250,Third,NaN,Southampton,1
3,1,1,female,35.0,1,0,53.1000,First,C,Southampton,0
4,0,3,male,35.0,0,0,8.0500,Third,NaN,Southampton,1

Using the Telco dataset

Use the function defined in acquire.py to load the Telco data.

Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

Split your data

Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.